Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

deploy oregon-a dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy frankfurt stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: frankfurt/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig

set image to mozmeao/basket:4a436d64 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:4a436d64 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:ff6cddaf in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:ff6cddaf in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:ff6cddaf in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:54296342 in oregon-a oregon-b
  acceptance-tests.sh
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:54296342 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:54296342 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:6228e47b in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:6228e47b in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:6228e47b in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:865ac447 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:865ac447 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:865ac447 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Turn off fxaeventsworker in basket-stage
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
Due: deploy oregon-b stage

set image to mozmeao/basket:24c277b9 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:24c277b9 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:24c277b9 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:fbe0d990 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:fbe0d990 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:fbe0d990 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:c4b9005c in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:c4b9005c in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:c4b9005c in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:ee0e2167 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:ee0e2167 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:ee0e2167 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:23c8b7ce in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:23c8b7ce in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:23c8b7ce in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Enable the donate queue processing for basket-dev
  oregon-b/basket-dev/donateworker-deploy.yaml
Due: deploy oregon-b dev

Revert "Enable the donate queue processing for basket-dev"
  oregon-b/basket-dev/donateworker-deploy.yaml
Due: deploy oregon-b dev

Rename basket-admin-temp to basket-admin-web
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:761fdc60 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:761fdc60 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:761fdc60 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Add kombu-fernet-key config reference for basket-dev
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev

Add kombu-fernet-key config reference for basket-dev (#36)
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev

Add kombu fernet key config reference for basket-dev
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-b dev

Path conditions:
  deploy oregon-a dev: any of: oregon-a/basket-dev/*
  deploy oregon-b dev: any of: oregon-b/basket-dev/*
  deploy oregon-a admin-stage: any of: oregon-a/basket-admin-stage/*
  deploy oregon-b admin-stage: any of: oregon-b/basket-admin-stage/*
  deploy oregon-a stage: any of: oregon-a/basket-stage/*
  deploy oregon-b stage: any of: oregon-b/basket-stage/*
  deploy frankfurt stage: any of: frankfurt/basket-stage/*
