Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

deploy oregon-a dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy frankfurt stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: frankfurt/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig

Add KOMBU_FERNET_KEY to all other basket-prod and basket-admin pods
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
Due: none

Only run jobs on master branch
  .gitlab-ci.yml
Due: none

Only run tests on master branch for corresponding changes
  .gitlab-ci.yml
Due: none

set image to mozmeao/basket:e036b2a2 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:e036b2a2 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:e036b2a2 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:974d363d in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:974d363d in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:974d363d in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:a3f04db8 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:a3f04db8 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:a3f04db8 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:6627dbcf in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:6627dbcf in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:6627dbcf in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Unversion kubectl
  .gitlab-ci.yml
  rollout-status.sh
Due: none

set image to mozmeao/basket:530c8e7e in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:530c8e7e in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:530c8e7e in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:530c8e7e in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:530c8e7e in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

set image to mozmeao/basket:e5fbaa77 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:e5fbaa77 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:e5fbaa77 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:e5fbaa77 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:e5fbaa77 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

set image to mozmeao/basket:3428cf70 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:3428cf70 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:3428cf70 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:741a24d4 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:741a24d4 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:741a24d4 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:0852cb32 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:0852cb32 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:0852cb32 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Increase basket-prod web replicas to 5 in frankfurt
  frankfurt/basket-prod/web-deploy.yaml
Due: none

Path conditions:
  deploy oregon-a dev: any of: oregon-a/basket-dev/*
  deploy oregon-b dev: any of: oregon-b/basket-dev/*
  deploy oregon-a admin-stage: any of: oregon-a/basket-admin-stage/*
  deploy oregon-b admin-stage: any of: oregon-b/basket-admin-stage/*
  deploy oregon-a stage: any of: oregon-a/basket-stage/*
  deploy oregon-b stage: any of: oregon-b/basket-stage/*
  deploy frankfurt stage: any of: frankfurt/basket-stage/*
