Repository mozmeao/basket-config: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

deploy oregon-a dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b dev:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-dev
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b admin-stage:
  stage: deploy-admin
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-admin-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy oregon-a stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-a/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-a.kubeconfig

deploy oregon-b stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: oregon-b/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/oregon-b.kubeconfig

deploy frankfurt stage:
  stage: deploy
  tags:
  - aws
  - meao
  script:
  - kubectl_1.11 apply -f ${DEPLOYMENT}
  - ./rollout-status.sh ${DEPLOYMENT}
  variables:
    DEPLOYMENT: frankfurt/basket-stage
    KUBECONFIG: /home/gitlab-runner/.kube/frankfurt.kubeconfig

Add kombu fernet key config reference for basket-dev (#37)
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-b dev

Add kombu-fernet-key secret reference for basket-stage
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Add kombu-fernet-key secret reference for basket-stage (#38)
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Revert "Enable the donate queue processing for basket-dev"
  oregon-b/basket-dev/donateworker-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/basket:761fdc60 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:761fdc60 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

set image to mozmeao/basket:d3f3d6c4 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:d3f3d6c4 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:d3f3d6c4 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:d3f3d6c4 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:d3f3d6c4 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

Increase memory requests & limits for basket-dev worker in oregon-a
  oregon-a/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev

Set resource limits & requests on basket-dev worker in oregon-b
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-b dev

Enable the donate queue processing for basket-dev
  oregon-b/basket-dev/donateworker-deploy.yaml
Due: deploy oregon-b dev

Add SUBHUB_OPP_RECORD_TYPE for all basket stage and prod deployments
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:64543766 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:64543766 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:64543766 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Increase memory requests to 600Mi & limits to 1200Mi
  frankfurt/basket-prod/web-deploy.yaml
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-a/basket-admin/web-deploy.yaml
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev, deploy oregon-a admin-stage, deploy oregon-b admin-stage, deploy oregon-a stage, deploy oregon-b stage

set image to mozmeao/basket:e8c2bc43 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:e8c2bc43 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:e8c2bc43 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:e8c2bc43 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:e8c2bc43 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

set image to mozmeao/basket:c2eed028 in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:c2eed028 in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:c2eed028 in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

set image to mozmeao/basket:c2eed028 in oregon-a oregon-b
  oregon-a/basket-admin/web-deploy.yaml
  oregon-b/basket-admin/web-deploy.yaml
Due: none

set image to mozmeao/basket:c2eed028 in frankfurt oregon-a oregon-b
  frankfurt/basket-prod/clock-deploy.yaml
  frankfurt/basket-prod/web-deploy.yaml
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/web-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/clock-deploy.yaml
  oregon-b/basket-prod/donateworker-deploy.yaml
  oregon-b/basket-prod/fxaeventsworker-deploy.yaml
  oregon-b/basket-prod/fxaworker-deploy.yaml
  oregon-b/basket-prod/web-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

Add KOMBU_FERNET_KEY for basket-prod workers
  frankfurt/basket-prod/worker-deploy.yaml
  oregon-a/basket-prod/worker-deploy.yaml
  oregon-b/basket-prod/worker-deploy.yaml
Due: none

Temporarily disable OIDC in oregon-b basket-dev
  oregon-b/basket-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/basket:16b31d4e in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:16b31d4e in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:16b31d4e in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Re-enable OIDC in basket-dev
  oregon-b/basket-dev/web-deploy.yaml
Due: deploy oregon-b dev

set image to mozmeao/basket:ceec747b in oregon-a oregon-b
  oregon-a/basket-admin-stage/web-deploy.yaml
  oregon-b/basket-admin-stage/web-deploy.yaml
Due: deploy oregon-a admin-stage, deploy oregon-b admin-stage

set image to mozmeao/basket:ceec747b in oregon-a oregon-b
  oregon-a/basket-dev/web-deploy.yaml
  oregon-a/basket-dev/worker-deploy.yaml
  oregon-b/basket-dev/donateworker-deploy.yaml
  oregon-b/basket-dev/web-deploy.yaml
  oregon-b/basket-dev/worker-deploy.yaml
Due: deploy oregon-a dev, deploy oregon-b dev

set image to mozmeao/basket:ceec747b in frankfurt oregon-a oregon-b
  frankfurt/basket-stage/web-deploy.yaml
  frankfurt/basket-stage/worker-deploy.yaml
  oregon-a/basket-stage/web-deploy.yaml
  oregon-a/basket-stage/worker-deploy.yaml
  oregon-b/basket-stage/donateworker-deploy.yaml
  oregon-b/basket-stage/fxaeventsworker-deploy.yaml
  oregon-b/basket-stage/web-deploy.yaml
  oregon-b/basket-stage/worker-deploy.yaml
Due: deploy oregon-a stage, deploy oregon-b stage, deploy frankfurt stage

Path conditions:
  deploy oregon-a dev: any of: oregon-a/basket-dev/*
  deploy oregon-b dev: any of: oregon-b/basket-dev/*
  deploy oregon-a admin-stage: any of: oregon-a/basket-admin-stage/*
  deploy oregon-b admin-stage: any of: oregon-b/basket-admin-stage/*
  deploy oregon-a stage: any of: oregon-a/basket-stage/*
  deploy oregon-b stage: any of: oregon-b/basket-stage/*
  deploy frankfurt stage: any of: frankfurt/basket-stage/*
